[Unit]
Description=Listener for rds-stress testing
Requires=network.target
After=network-online.target

[Service]
User=root
WorkingDirectory=/root
ExecStart=/usr/local/bin/rds-stress -r {{ ansible_default_ipv4.address }}

[Install]
WantedBy=multi-user.target
