if TERRAFORM_AWS

menu "Identity & Access"
source "terraform/aws/kconfigs/identity.Kconfig"
endmenu
menu "Resource Location"
source "terraform/aws/kconfigs/location.Kconfig"
endmenu
menu "Compute"
source "terraform/aws/kconfigs/compute.Kconfig"
endmenu
menu "Storage"
source "terraform/aws/kconfigs/storage.Kconfig"
endmenu

endif # TERRAFORM_AWS
