if TERRAFORM_AZURE

menu "Identity & Access"
source "terraform/azure/kconfigs/identity.Kconfig"
endmenu
menu "Resource Location"
source "terraform/azure/kconfigs/location.Kconfig"
endmenu
menu "Compute"
source "terraform/azure/kconfigs/compute.Kconfig"
endmenu
menu "Storage"
source "terraform/azure/kconfigs/storage.Kconfig"
endmenu

endif # TERRAFORM_AZURE
