if TERRAFORM_GCE

menu "Identity & Access"
source "terraform/gce/kconfigs/identity.Kconfig"
endmenu
menu "Resource Location"
source "terraform/gce/kconfigs/location.Kconfig"
endmenu
menu "Compute"
source "terraform/gce/kconfigs/compute.Kconfig"
endmenu
menu "Storage"
source "terraform/gce/kconfigs/storage.Kconfig"
endmenu

endif # TERRAFORM_GCE
